<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
    <script defer src="relatorio.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body style="background-color: rgb(177, 176, 176);">
    <!--Header-->
    
    <div class="navbar-more-overlay"></div>
	<nav class="navbar navbar-inverse navbar-fixed-top animate">
		<div class="container navbar-more visible-xs">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<div class="input-group">
						<li>
                            <a class="menu-link" href="login.html">
                                <span class="menu-icon fa fa-picture-o"></span>
                                Login
                            </a>
                        </li>
					</div>
				</div>
			</form>
			<ul class="nav navbar-nav">
				<li>
					<a class="menu-link" href="index.html">
						<span class="menu-icon fa fa-picture-o"></span>
						Introduçâo
					</a>
				</li>
				<li>
					<a class="menu-link" href="Relatorio.html">
						<span class="menu-icon fa fa-bell-o"></span>
						Relatório
					</a>
				</li>
				<li>
					<a class="menu-link" href="artigo.html">
						<span class="menu-icon fa fa-picture-o"></span>
							Sobre Nós
					</a>
				</li>
				<li>
					<a class="menu-link" href="coletadados.html">
						<span class="menu-icon fa fa-bell-o"></span>
						Coleta de dados
					</a>
				</li>
				
			</ul>
		</div>
		<div class="container">
			<div class="navbar-header hidden-xs">
				<a class="navbar-brand" href="#"></a>
			</div>

			<ul class="nav navbar-nav navbar-right mobile-bar">
				<li>
					<a class="menu-link" href="index.html">
						
						introdução
					</a>
				</li>
				<li>
					<a class="menu-link" href="Relatorio.html">
						
						<span class="hidden-xs">Relatório</span>
						<span class="visible-xs">Relatório</span>
					</a>
				</li>
				<li class="hidden-xs">
					<a class="menu-link" href="artigo.html">
						
						Artigos
					</a>
				</li>
                
				
				<li class="hidden-xs">
					<a class="menu-link" href="coletadados.html">
						
						Coleta de dados
					</a>
				</li>
                <li class="hidden-xs">
					<a class="menu-link" href="login.html" style=" font-size: x-large; color: black;">
						
						<button>Login</button>
					</a>
				</li>
				<li>
					<a class="menu-link" href="coletadados.html">
											
						
						<span class="visible-xs">Dados</span>
					</a>
                    
				</li>
                <li>
					<a class="menu-link" href="about.html">
											
						
						<span class="visible-xs">Artigos</span>
					</a>
                    
				</li>
                
                
                
				<li class="visible-xs">
					<a href="#navbar-more-show" style="margin-left: 50px;">
						<span class="menu-icon fa fa-bars"></span>
						abrir  mais+
					</a>
				</li>
			</ul>
		</div>
	</nav>

    </header>
    <!--End Header-->
    <!--Main-->
    <main>
        <!--Nav-->
        <nav align="center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dolores reiciendis, recusandae ea mollitia
                vitae omnis. Natus at nobis repellendus ducimus, voluptate nemo ex ipsa quas earum dolores et! Aliquid,
                alias velit! Velit temporibus, sapiente quod, voluptatem earum nam facilis itaque fugit unde incidunt
                quasi qui alias. Odit pariatur voluptatibus dolores voluptate accusamus distinctio at amet explicabo,
                hic aut eaque? Commodi voluptatem </p>
                <hr>
        </nav>
        <!--End Nav-->
        <!--Section-->
        <section class="row containe">

            <div class="col-12 col-lg-6">
                <img src="imagens/grafico.png" alt="" style="width: 75%;">



            </div>

            <div class="col-12 col-lg-6">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, animi explicabo possimus,
                    eaque, itaque ipsum fugit pariatur nemo porro voluptatum sapiente molestias blanditiis earum
                    praesentium nesciunt. Cum quisquam sequi praesentium inventore impedit in dolorem aspernatur
                    doloremque quae nisi dolorum saepe minima voluptatibus nihil maxime qui beatae fugiat repellat quos,
                    nam odio molestiae! Optio neque, quibusdam, deleniti ratione minima molestias magni incidunt eaque
                    ullam reiciendis sapiente dignissimos earum accusamus facilis impedit maxime nam perspiciatis nulla!
                    Deserunt incidunt, cum possimus sapiente quia dicta temporibus</p>
                <p align="right">
                    <button style="width: 25%; margin-right: 5%;"> Lorem ipsum</button>
                </p>
            </div>
            <hr>

            <div class="col-12 col-lg-6" style="margin-top: 45px;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ea velit explicabo quas, eligendi
                    aperiam ducimus blanditiis laborum nam inventore? Natus voluptas quae hic accusamus explicabo quasi
                    doloribus fugiat, a architecto tempora necessitatibus dolore dolores! Ad sapiente tempore rem
                    impedit magnam quidem laboriosam quisquam tempora?</p>
                <p align="right">
                    <button style="width: 25%; margin-right: 15%;"> Lorem ipsum</button>
                </p>
                <p align="right">
                    <button style="width: 25%; margin-right: 15%;"> Lorem ipsum</button>
                </p>

            </div>

            <div class="col-12 col-lg-6" style="margin-top: 40px;">
                <img src="imagens/graficoindex2.jpg" alt="" alt="" style="width: 75%; height: 50%;">
            </div>
            <hr>

            <div style="margin-top: 55px;">
                <img src="imagens/grafico2.png" alt="" alt="" style="width: 75%; margin-left: 10%;">
            </div>
        </section>
        <!--End Section-->



    </main>
    <!--End Main-->

    <!--Footer-->
    <footer class="container-fluid footer" style="margin-top: 40px;">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-9 col-lg-10 copy">
                <p>Copyright 2021 - Grupo de Oniomania - Puc Minas</p>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-2 logo">
                <a href="about.html">Sobre Nós</a>
            </div>
        </div>
    </footer>
    <!--End Footer-->

</body>