<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
    <script defer src="usuario.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body style="background-color: rgb(177, 176, 176);">
    <!--Header-->
    
    <div class="navbar-more-overlay"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top animate">
        <div class="container navbar-more visible-xs">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <li>
                            <a class="menu-link" href="login.html">
                                <span class="menu-icon fa fa-picture-o"></span>
                                Login
                            </a>
                        </li>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav">
                <li>
                    <a class="menu-link" href="index.html">
                        <span class="menu-icon fa fa-picture-o"></span>
                        Introduçâo
                    </a>
                </li>
                <li>
                    <a class="menu-link" href="Relatorio.html">
                        <span class="menu-icon fa fa-bell-o"></span>
                        Relatório
                    </a>
                </li>
                <li>
                    <a class="menu-link" href="artigo.html">
                        <span class="menu-icon fa fa-picture-o"></span>
                        Artigos
                    </a>
                </li>
                <li>
                    <a class="menu-link" href="coletadados.html">
                        <span class="menu-icon fa fa-bell-o"></span>
                        Coleta de dados
                    </a>
                </li>

            </ul>
        </div>
        <div class="container">
            <div class="navbar-header hidden-xs">
                <a class="navbar-brand" href="#"></a>
            </div>

            <ul class="nav navbar-nav navbar-right mobile-bar">
                <li>
                    <a class="menu-link" href="index.html">

                        introdução
                    </a>
                </li>
                <li>
                    <a class="menu-link" href="Relatorio.html">

                        <span class="hidden-xs">Relatório</span>
                        <span class="visible-xs">Relatório</span>
                    </a>
                </li>
                <li class="hidden-xs">
                    <a class="menu-link" href="artigo.html">

                        Artigos
                    </a>
                </li>

                
                <li class="hidden-xs">
                    <a class="menu-link" href="coletadados.html">

                        Coleta de dados
                    </a>
                </li>
                <li class="hidden-xs">
                    <a class="menu-link" href="login.html" style=" font-size: x-large; color: black;">

                        <button>Login</button>
                    </a>
                </li>
                <li>
                    <a class="menu-link" href="coletadados.html">


                        <span class="visible-xs">Dados</span>
                    </a>

                </li>
                <li>
                    <a class="menu-link" href="artigo.html">


                        <span class="visible-xs">Artigos</span>
                    </a>

                </li>



                <li class="visible-xs">
                    <a href="#navbar-more-show" style="margin-left: 50px;">
                        <span class="menu-icon fa fa-bars"></span>
                        abrir mais+
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    </header>
    <!--End Header-->

    <body>
        <!--Main-->
        <main class="container">
            <!--Section-->
            <section class="row containe ">

                <div class="col-12 col-lg-6">
                    <img src="imagens/persona.jpg" alt="Avatar" style="border-radius: 50%; height: 150px; float: left;">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus non fugiat modi! Quod et error
                        deserunt
                        tempore cumque, consequatur asperiores qui eaque cupiditate exercitationem ullam omnis nulla
                        necessitatibus dolores! Non, assumenda laboriosam. Sed atque reprehenderit odit impedit porro
                        similique,
                        corrupti sunt, voluptates esse deserunt saepe hic iste accusantium itaque. Molestiae minus magni
                        voluptate impedit neque iste exercitationem ab voluptates incidunt laboriosam eveniet quia
                        dolorem
                        assumenda, veritatis aperiam dolore. Totam ab quos officiis animi adipisci a fugiat autem itaque
                        eos
                        accusantium beatae atque quisquam esse aut laboriosam id voluptatem nulla est libero minus
                        explicabo,
                        cumque praesentium hic. Aut praesentium cumque facilis molestiae harum, recusandae atque
                        inventore
                        voluptatem enim necessitatibus. Corrupti consectetur tempora repellendus voluptatibus in quod,
                        laborum
                        eaque est architecto eius?</p>


                </div>

                <div class="col-12 col-lg-6">
                    <img src="imagens/grafico.png" alt="" style="height: 100%; width: 100%;">
                </div>
            </section>
            <!--End Section-->

            <!--Article-->
            <article class="row" style="border: 1px solid black; background: grey;">

                <div class="col-12 col-lg-6">
                    <img src="imagens/personaplaceholder.png" alt="Avatar"
                        style="border-radius: 30%; height: 65%; margin-top: 15%; width: 100%;">


                </div>

                <div class="col-12 col-lg-6">
                    <p style="margin-top: 15px;"></p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
                    ipsam
                    natus quos odio optio aperiam beatae. Quae aperiam, laborum mollitia, sequi animi provident, quas ea
                    libero voluptatum enim dignissimos? Fugit quam quis incidunt dignissimos sed exercitationem
                    repudiandae
                    numquam distinctio nesciunt praesentium! Dolorem ipsa quas ullam similique itaque placeat, sint
                    velit
                    aut atque vitae ea tempore iste voluptatem, accusantium incidunt dolores, necessitatibus ad adipisci
                    explicabo eos nisi quaerat. Fugiat fuga quae quod repudiandae rerum numquam rem ab quas est,
                    voluptatibus dolor reprehenderit doloribus in pariatur optio odit iure eius doloremque aperiam sequi
                    officiis debitis. Molestiae consectetur iste voluptate, enim eveniet natus maxime, facere minus
                    provident iusto eaque molestias corporis ipsum! Incidunt tenetur perspiciatis optio, pariatur quo
                    consequuntur aliquid rerum distinctio exercitationem accusantium reprehenderit porro ullam? Ducimus,
                    minima quo a possimus </p>
                </div>
            </article>
            <!--End Article-->
            <!--Aside-->
            <aside style="border: 1px solid black; background: grey; margin-top: 50px;">
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, praesentium? Saepe aut assumenda
                    aliquid provident quasi sequi dolorem porro! Architecto repudiandae hic, quisquam ex libero
                    reiciendis
                    iure voluptate, esse voluptatum quo error maxime fugit doloribus natus in at, doloremque velit sint?
                    Dolorum eligendi officia optio exercitationem numquam illo neque perspiciatis tempora illum iure
                    accusamus consequuntur et eum officiis, earum natus accusantium. Suscipit omnis laborum incidunt,
                    modi,
                    nisi, dolorem voluptatibus laudantium earum praesentium sint ex neque perspiciatis! Fugit eveniet
                    assumenda numquam ipsum cupiditate quam odit suscipit provident distinctio, cumque a hic est fuga
                    quisquam neque aut dolorem sit quo excepturi delectus.</p>
                <p align="right">
                    <button style="width: 25%; margin-right: 5%;"> Lorem ipsum</button>
                </p>

            </aside>
            <!--End Aside-->
        </main>
        <!--End Main-->
        <!--Footer-->
        <footer class="container-fluid footer" style="margin-top: 40px;">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-9 col-lg-10 copy">
                    <p>Copyright 2021 - Grupo de Oniomania - Puc Minas</p>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-2 logo">
                    <a href="about.html">Sobre Nós</a>
                </div>
            </div>
        </footer>
        <!--End Footer-->
    </body>