<!DOCTYPE html>

<html lang="pt-br">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Coleta de Dados</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="estilos.css">
	<script defer src="coleta.js"></script>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body style="background-color: rgb(177, 176, 176);">
	<!--Header-->
	
		<div class="navbar-more-overlay"></div>
		<nav class="navbar navbar-inverse navbar-fixed-top animate">
			<div class="container navbar-more visible-xs">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<div class="input-group">
							<li>
								<a class="menu-link" href="login.html">
									<span class="menu-icon fa fa-picture-o"></span>
									Login
								</a>
							</li>
						</div>
					</div>
				</form>
				<ul class="nav navbar-nav">
					<li>
						<a class="menu-link" href="index.html">
							<span class="menu-icon fa fa-picture-o"></span>
							Introduçâo
						</a>
					</li>
					<li>
						<a class="menu-link" href="Relatorio.html">
							<span class="menu-icon fa fa-bell-o"></span>
							Relatório
						</a>
					</li>
					<li>
						<a class="menu-link" href="artigo.html">
							<span class="menu-icon fa fa-picture-o"></span>
							Artigos
						</a>
					</li>
					<li>
						<a class="menu-link" href="coletadados.html">
							<span class="menu-icon fa fa-bell-o"></span>
							Coleta de dados
						</a>
					</li>

				</ul>
			</div>
			<div class="container">
				<div class="navbar-header hidden-xs">
					<a class="navbar-brand" href="#"></a>
				</div>

				<ul class="nav navbar-nav navbar-right mobile-bar">
					<li>
						<a class="menu-link" href="index.html">

							introdução
						</a>
					</li>
					<li>
						<a class="menu-link" href="Relatorio.html">

							<span class="hidden-xs">Relatório</span>
							<span class="visible-xs">Relatório</span>
						</a>
					</li>
					<li class="hidden-xs">
						<a class="menu-link" href="artigo.html">

							Artigos
						</a>
					</li>

					
					<li class="hidden-xs">
						<a class="menu-link" href="coletadados.html">

							Coleta de dados
						</a>
					</li>
					<li class="hidden-xs">
						<a class="menu-link" href="login.html"
							style="font-size: x-large; color: black;">

							<button>Login</button>
						</a>
					</li>
					<li>
						<a class="menu-link" href="coletadados.html">


							<span class="visible-xs">Dados</span>
						</a>

					</li>
					<li>
						<a class="menu-link" href="about.html">


							<span class="visible-xs">Artigos</span>
						</a>

					</li>



					<li class="visible-xs">
						<a href="#navbar-more-show" style="margin-left: 50px;">
							<span class="menu-icon fa fa-bars"></span>
							abrir mais+
						</a>
					</li>
				</ul>
			</div>
		</nav>

	</header>
	<!--End Header-->
	<!--Main-->
	<main>
		<!--Section-->
		<section>
			<section class="row containe ">

				<div class="col-12 col-lg-6" style=" border: 1px solid black; width: 500px; height:430px;">
					<div style="margin-top: 25%;">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem error non laudantium totam animi
						fuga temporibus. Ea veniam perferendis tempora. Quod aspernatur unde in ea laudantium distinctio
						quam quisquam similique.</p>
					<button style="width: 25%; margin-right: 5%;"> Lorem ipsum</button>
					<button style="width: 25%; margin-right: 5%;"> Lorem ipsum</button>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat repellendus accusamus corrupti
						iste placeat ratione error. Asperiores totam dolorum placeat explicabo provident dignissimos.
						Dignissimos odit illum quis voluptatum, repellat impedit!</p>
						</div>


				</div>

				<div class="col-12 col-lg-6" style=" border: 1px solid black; width: 500px; height:430px;">
					<img src="imagens/coletadedadospersona.jpg" alt="Avatar" style="border-radius: 50%; height: 85%; width: 85%;">
				</div>
				<div class="col-12 col-lg-6" style="width: 75%; height:75%; margin-top: 50px;">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ratione iste, sapiente ea ipsa ex
						itaque
						adipisci aliquam, voluptatum nemo corporis, deleniti quaerat molestiae minima. Maxime incidunt
						magnam accusamus exercitationem eaque at quam itaque sed molestias tempore aspernatur nihil id
						saepe, dolorem sit inventore non nam necessitatibus voluptatibus enim! Odit debitis laudantium
						temporibus dicta tempora aliquid repellendus ipsum nobis. Quas nulla modi aut doloremque cumque
						reiciendis at unde ipsum consequuntur sapiente inventore tempora eveniet explicabo illum,
						impedit
						aliquam ad dignissimos sint repellat ut nihil rem? In sapiente nulla nesciunt dolores earum
						incidunt
						eligendi sequi asperiores optio? Doloribus, quae quasi? Dolor nam sit harum, iure accusantium
						sunt
						veritatis nemo praesentium maxime, consectetur itaque vitae perspiciatis quasi, excepturi nisi
						repellat quo et hic similique mollitia voluptatum. Eos unde quia itaque recusandae excepturi
						quis,
						sint voluptatum quo repellat consequatur voluptas nam numquam, illo autem incidunt pariatur
						aperiam
						fugiat reprehenderit et ratione commodi accusamus!
					</p>
				</div>
			</section>

		</section>
		<!--End section-->

	</main>
	<!--End Main-->
	<!--Footer-->
	<footer class="container-fluid footer" style="margin-top: 40px;">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-9 col-lg-10 copy">
				<p>Copyright 2021 - Grupo de Oniomania - Puc Minas</p>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-2 logo">
				<a href="about.html">Sobre Nós</a>
			</div>
		</div>
	</footer>
	<!--End Footer-->


</body>