<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
    <script defer src="index.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body style="background-color: rgb(177, 176, 176);">
    <!--Header-->
    
    <div class="navbar-more-overlay"></div>
	<nav class="navbar navbar-inverse navbar-fixed-top animate">
		<div class="container navbar-more visible-xs">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<div class="input-group">
						<li>
                            <a class="menu-link" href="login.html">
                                <span class="menu-icon fa fa-picture-o"></span>
                                Login
                            </a>
                        </li>
					</div>
				</div>
			</form>
			<ul class="nav navbar-nav">
				<li>
					<a class="menu-link" href="index.html">
						<span class="menu-icon fa fa-picture-o"></span>
						Introduçâo
					</a>
				</li>
				<li>
					<a class="menu-link" href="Relatorio.html">
						<span class="menu-icon fa fa-bell-o"></span>
						Relatório
					</a>
				</li>
				<li>
					<a class="menu-link" href="artigo.html">
						<span class="menu-icon fa fa-picture-o"></span>
							Sobre Nós
					</a>
				</li>
				<li>
					<a class="menu-link" href="coletadados.html">
						<span class="menu-icon fa fa-bell-o"></span>
						Coleta de dados
					</a>
				</li>
				
			</ul>
		</div>
		<div class="container">
			<div class="navbar-header hidden-xs">
				<a class="navbar-brand" href="#"></a>
			</div>

			<ul class="nav navbar-nav navbar-right mobile-bar">
				<li>
					<a class="menu-link" href="index.html">
						
						introdução
					</a>
				</li>
				<li>
					<a class="menu-link" href="Relatorio.html">
						
						<span class="hidden-xs">Relatório</span>
						<span class="visible-xs">Relatório</span>
					</a>
				</li>
				<li class="hidden-xs">
					<a class="menu-link" href="artigo.html">
						
						Artigos
					</a>
				</li>
                
				
				<li class="hidden-xs">
					<a class="menu-link" href="coletadados.html">
						
						Coleta de dados
					</a>
				</li>
                <li class="hidden-xs">
					<a class="menu-link" href="login.html" style=" font-size: x-large; color: black;">
						
						<button>Login</button>
					</a>
				</li>
				<li>
					<a class="menu-link" href="coletadados.html">
											
						
						<span class="visible-xs">Dados</span>
					</a>
                    
				</li>
                <li>
					<a class="menu-link" href="artigo.html">
											
						
						<span class="visible-xs">Artigos</span>
					</a>
                    
				</li>
                
                
                
				<li class="visible-xs">
					<a href="#navbar-more-show" style="margin-left: 50px;">
						<span class="menu-icon fa fa-bars"></span>
						abrir  mais+
					</a>
				</li>
			</ul>
		</div>
	</nav>

    </header>
    <!--End Header-->
    
    <!--Main-->
    <main class="container main">
        <!--introduction-->
        <sectionindex id=introduction class="row introduction">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 profile">
                <div id="carouselIntroduction" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselIntroduction" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselIntroduction" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselIntroduction" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="imagens/graficoindex3.png">
                        </div>
                        <div class="carousel-item">
                            <img src="imagens/graficoindex2.jpg">
                        </div>
                        <div class="carousel-item">
                            <img src="imagens/graficoindex5.jpg">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIntroduction"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselIntroduction"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-8 objetivo">
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p><b>Introdução:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime dolore tenetur
                    alias error
                    officia, dolor cum quia excepturi, necessitatibus quas sint eum! Dolorem, tenetur quidem?</p>
                <h1> <b> 97 </b></h1>
            </div>
            <hr>
        </sectionindex>
        <!--End introduction-->
        <!--process-->
        <sectionindex id=process class="row process">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 objetivo">
                <div id="carouselStart" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselStart" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselStart" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselStart" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="imagens/graficoindex4.png" width="100%">
                        </div>
                        <div class="carousel-item">
                            <img src="imagens/graficoindex4.png" width="100%">
                        </div>
                        <div class="carousel-item">
                            <img src="imagens/graficoindex4.png" width="100%">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselStart"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselStart"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <hr>
        </sectionindex>
        <!--End process-->
        <!--objective-->
        <sectionindex id=objective class="row objective">
            <div class="col-12 col-sm-12 col-md-6 col-lg-7 objetivo">
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>Objetivos: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, similique itaque atque
                    iure quisquam aliquid laudantium voluptates labore quidem debitis accusantium corporis asperiores,
                    cumque a sint tenetur totam velit natus.</p>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-5 profile">
                <img src="imagens/graficoindex.jpg">
            </div>
            <hr>
        </sectionindex>
        <!--End objective-->
        <!--redirect-->
        <sectionindex id=redirect class="row redirect">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 tables">
                <div>
                    <h5>Arquivos</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ab iure quo eius facere
                        doloremque voluptates numquam laudantium nam a?</p>
                    <h6>Período: 08/2021 até o momento</h6>
                </div>
                <hr>
                <div>
                    <h5>Relatórios</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dolores accusamus maxime
                        aliquid adipisci quasi ex, corrupti voluptates similique blanditiis.</p>
                    <h6>Período: 02/2018 a 12/2020</h6>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 grafico">
                <div>
                    <img src="imagens/placeholder.jpg" width="100%" height=100%>
                </div>
                <!--Começo do togle-->
                <button id="show-or-hide-index" type="button" class="btn btn-primary active" data-bs-toggle="button"
                    autocomplete="off" aria-pressed="true"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path
                            d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
                    </svg> Carregar mais detalhes</button>
            </div>

            <div class="togleindex">
                <p style="margin-top: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laboriosam maxime eaque, provident
                    aspernatur ut corrupti facilis tempore reiciendis inventore sequi ab rem quae atque recusandae,
                    iusto delectus eius sit. Ducimus enim adipisci, tempore quod magnam, explicabo debitis, amet labore
                    hic magni odio exercitationem voluptatibus quas aliquid porro voluptatum. Rem.</p>
                <!--Fim do togle-->
        </sectionindex>
        <!--End redirect-->
    </main>
    <!--End  Main-->
    <!--Footer-->
    <footer class="container-fluid footer" style="margin-top: 40px;">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-9 col-lg-10 copy">
                <p>Copyright 2021 - Grupo de Oniomania - Puc Minas</p>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-2 logo">
                <a href="about.html">Sobre Nós</a>
            </div>
        </div>
    </footer>
    <!--End Footer-->
    <script src="https://kit.fontawesome.com/f2c63cf68c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>


</html>